.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  gap: 20px;
}

.infoContainer {
  display: flex;
  flex: 2;
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  color: var(--textSoft);
  height: max-content;
}

.imageContainer {
  width: 20%;
  height: 300px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.userInfo {
  flex: 4;
  padding: 20px;
  margin-left: 2rem;
  border-radius: 10px;
  color: white;
}

.ratingsContainer {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

.button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
