.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.ratingsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: space-evenly;
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
}

.criteriaContainer {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid black;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td {
  padding: 8px;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
