.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.infoContainer {
  display: flex;
  gap: 10px;
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  color: var(--textSoft);
  height: max-content;
  width: 100%;
}

.imageContainer {
  width: 250px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
}

.ratingsContainer {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.button {
  padding: 5px 10px;
  border-radius: 5px;
  /* color: var(--text); */
  color: white;
  border: none;
  cursor: pointer;
}

.btn {
  /*   background-color: teal;
 */
  background-color: rgb(2, 2, 2);
  color: white;
}

.button_view {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.charts {
  display: flex;
  width: 60%;
}

.formContainer {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form input,
.form select,
.form textarea {
  padding: 30px;
  background-color: var(--bg);
  color: var(--text);
  border: 2px solid #2e374a;
  border-radius: 5px;
  margin-bottom: 30px;
}
.form input,
.form select {
  width: 45%;
}

.form .label {
  display: flex;
  margin-left: 30px;
}

.form .dob {
  width: max-content;
}
.form button {
  width: 100%;
  padding: 30px;
  background-color: teal;
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
