.container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 20px;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  flex: 2;
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  height: max-content;
}

.ratingsContainer {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

.button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
