.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addButton {
  padding: 10px;
  background-color: var(--button);
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.table {
  width: 100%;
}

.table td {
  padding: 10px;
}
.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userImage {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  /* border-radius: 50%; */
  object-fit: cover;
}

.buttons {
  display: flex;
  gap: 10px;
}
.button {
  padding: 5px 10px;
  border-radius: 5px;
  /* color: var(--text); */
  color: white;
  border: none;
  cursor: pointer;
}

.view {
  /*   background-color: teal;
 */
  background-color: rgb(74, 192, 5);
}

.edit {
  /*   background-color: teal;
 */
  background-color: rgb(54, 85, 197);
}
.delete {
  background-color: crimson;
}
