.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
}

.title {
  margin-bottom: 20px;
  font-weight: 200;
  color: var(--textSoft);
}

.table {
  width: 100%;
  border-collapse: collapse; /* Damit die Tabellenzellen sich nicht überlappen */
}

.table th {
  text-align: left;
}

.table td {
  padding: 10px; /* Padding erhöht, um den Inhalt besser sichtbar zu machen */
  border: 1px solid var(--borderColor); /* Rand hinzugefügt */
}

.table tr:hover {
  background-color: var(--bgHover);
}
